In [1]:
import numpy as np
import pandas as pd

In [2]:
books=pd.read_csv('BX-CSV-Dump/BX-Books.csv',sep=';', error_bad_lines=False,encoding='latin-1')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15620\19590044.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books=pd.read_csv('BX-CSV-Dump/BX-Books.csv',sep=';', error_bad_lines=False,encoding='latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15620\19590044.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('BX-CSV-Dump/BX-Books.csv',sep=';', error_bad_lines=False,encoding='latin-1')

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [4]:
user=pd.read_csv('BX-CSV-Dump/BX-Users.csv',sep=';', error_bad_lines=False,encoding='latin-1')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15620\158773740.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  user=pd.read_csv('BX-CSV-Dump/BX-Users.csv',sep=';', error_bad_lines=False,encoding='latin-1')

In [5]:
rating=pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv',sep=';', error_bad_lines=False,encoding='latin-1')

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15620\2842084043.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  rating=pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv',sep=';', error_bad_lines=False,encoding='latin-1')

In [6]:
user

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [7]:
rating

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [8]:
rating=rating.rename(columns={'User-ID':'user_id','Book-Rating':'rating'})

In [9]:
books.shape,user.shape,rating.shape

((271360, 8), (278858, 3), (1149780, 3))

In [10]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [11]:
books=books[['ISBN', 'Book-Title', 'Book-Author','Year-Of-Publication', 'Publisher']]

In [12]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [13]:
books=books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year'})

In [14]:
books

,ISBN,title,author,year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [15]:
user.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [16]:
user=user.rename(columns={'User-ID':'user_id', 'Location':'location', 'Age':'age'})

In [17]:
user

        user_id                            location   age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [18]:
rating['user_id'].value_counts().shape#rhere is only such users that gives rating

(105283,)

In [19]:
x=rating['user_id'].value_counts()>200#taking users which gives greater than 200 rating

In [20]:
y=x[x].index

In [21]:
rating=rating[rating['user_id'].isin(y)]

In [22]:
rating

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1147612   275970  3829021860       0
1147613   275970  4770019572       0
1147614   275970   896086097       0
1147615   275970  9626340762       8
1147616   275970  9626344990       0

[526356 rows x 3 columns]

In [23]:
rating_with_books=rating.merge(books,on='ISBN')

In [24]:
rating_with_books.shape

(487671, 7)

In [25]:
no_of_ratings=rating_with_books.groupby('title')['rating'].count().reset_index().rename(columns={'rating':'no_of_rating'})

In [26]:
no_of_ratings

                                                    title  no_of_rating
0        A Light in the Storm: The Civil War Diary of ...             2
1                                   Always Have Popsicles             1
2                    Apple Magic (The Collector's series)             1
3        Beyond IBM: Leadership Marketing and Finance ...             1
4        Clifford Visita El Hospital (Clifford El Gran...             1
...                                                   ...           ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...             3
160265                                      Ã?Â?lpiraten.             1
160266                     Ã?Â?rger mit Produkt X. Roman.             1
160267                              Ã?Â?stlich der Berge.             1
160268                                  Ã?Â?thique en toc             1

[160269 rows x 2 columns]

In [27]:
final_rating=no_of_ratings.merge(rating_with_books,on='title')

In [28]:
final_rating

,title,no_of_rating,user_id,ISBN,rating,author,year,Publisher
0,A Light in the Storm: The Civil War Diary of ...,2,35859,0590567330,0,Karen Hesse,1999,Hyperion Books for Children
1,A Light in the Storm: The Civil War Diary of ...,2,96448,0590567330,9,Karen Hesse,1999,Hyperion Books for Children
2,Always Have Popsicles,1,172742,0964147726,0,Rebecca Harvin,1994,Rebecca L. Harvin
3,Apple Magic (The Collector's series),1,198711,0942320093,0,Martina Boudreau,1984,Amer Cooking Guild
4,Beyond IBM: Leadership Marketing and Finance ...,1,11601,0962295701,0,Lou Mobley,1989,"Teleonet, Incorporated"
...,...,...,...,...,...,...,...,...
487666,Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...,3,173632,3257700512,0,Henry David Thoreau,1996,Diogenes
487667,Ã?Â?lpiraten.,1,11676,3499232499,0,Janwillem van de Wetering,2002,Rowohlt Tb.
487668,Ã?Â?rger mit Produkt X. Roman.,1,133567,325721538X,8,Joan Aiken,1987,Diogenes Verlag
487669,Ã?Â?stlich der Berge.,1,261105,3442725739,0,David Guterson,2000,btb
487670,Ã?Â?thique en toc,1,53628,2842192508,0,Didier Daeninckx,1998,Baleine

In [29]:
final_rating=final_rating[final_rating['no_of_rating']>50]

In [30]:
final_rating

,title,no_of_rating,user_id,ISBN,rating,author,year,Publisher
1073,1984,76,254,0451524934,9,George Orwell,1990,Signet Book
1074,1984,76,11676,0451524934,0,George Orwell,1990,Signet Book
1075,1984,76,12538,0451524934,0,George Orwell,1990,Signet Book
1076,1984,76,15408,0451524934,9,George Orwell,1990,Signet Book
1077,1984,76,16795,0451524934,8,George Orwell,1990,Signet Book
...,...,...,...,...,...,...,...,...
487432,"\O\"" Is for Outlaw""",105,234359,0805059555,0,Sue Grafton,1999,Henry Holt &amp; Company
487433,"\O\"" Is for Outlaw""",105,234623,0805059555,0,Sue Grafton,1999,Henry Holt &amp; Company
487434,"\O\"" Is for Outlaw""",105,236283,0805059555,10,Sue Grafton,1999,Henry Holt &amp; Company
487435,"\O\"" Is for Outlaw""",105,238120,0805059555,0,Sue Grafton,1999,Henry Holt &amp; Company
487436,"\O\"" Is for Outlaw""",105,254899,0805059555,0,Sue Grafton,1999,Henry Holt &amp; Company

In [31]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15620\1573401051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [56]:
title=final_rating.title.unique()

In [33]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [34]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
book_pivot.fillna(0,inplace=True)

In [36]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [38]:
book_sparse

<703x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14507 stored elements in Compressed Sparse Row format>

In [39]:
from sklearn.neighbors import NearestNeighbors
nn_model=NearestNeighbors(algorithm='brute')

In [40]:
nn_model

NearestNeighbors(algorithm='brute')

In [41]:
nn_model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [42]:
distances,suggestion=nn_model.kneighbors(book_pivot.iloc[507,:].values.reshape(1,-1),n_neighbors=6)

In [43]:
distances

array([[ 0.        , 13.7113092 , 19.39071943, 19.77371993, 20.73644135,
        21.11871208]])

In [44]:
suggestion

array([[507, 173, 564, 175, 277, 356]], dtype=int64)

In [45]:
for i in range((len(suggestion))):
    print(book_pivot.index[suggestion[i]])

Index(['The Cradle Will Fall', 'Exclusive', 'The Long Road Home',
       'Eyes of a Child', 'Jacob Have I Loved', 'No Safe Place'],
      dtype='object', name='title')

In [46]:
book_pivot.index[237]

'Hemlock Bay'

In [47]:
book_pivot.index[507]

'The Cradle Will Fall'

In [48]:
np.where(book_pivot.index=='Animal Farm')[0][0]

47

In [61]:
def recommend(book):
    ind=np.where(book_pivot.index==book)[0][0]
    distances,suggestion=nn_model.kneighbors(book_pivot.iloc[ind,:].values.reshape(1,-1),n_neighbors=6)
    rec_book=[]
    for i in range((len(suggestion))):
        rec_book.append(book_pivot.index[suggestion[i]])
    return rec_book

In [63]:
x=recommend('Animal Farm')

In [69]:
x

[Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Pleading Guilty',
        'No Safe Place', 'Foucault's Pendulum'],
       dtype='object', name='title')]

In [68]:
x[0][0]

'Animal Farm'

In [51]:
import pickle
pickle.dump(nn_model,open('nn_model.pkl','wb'))

In [52]:
pickle.dump(book_pivot,open('book_pivot.pkl','wb'))

In [57]:
title

array(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short',
       'A Fine Balance', 'A Great Deliverance',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
       'A Man in Full', 'A Map of the World', 'A Painted House',
       'A Patchwork Planet', 'A Prayer for Owen Meany',
       'A Thin Dark Line (Mysteries &amp; Horror)',
       "A Thousand Acres (Ballantine Reader's Circle)", 'A Time to Kill',
       "A Virtuous Woman (Oprah's Book Club (Paperback))",
       'A Walk to Remember', 'A Widow for One Year', 'A Wrinkle In Time',
       'A Wrinkle in Time', 'A Year in Provence', "ANGELA'S ASHES",
       'About a Boy', 'Absolute Power', 'Acceptable Risk', 'Accident',
       'Airframe', 'All Around the Town', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       "Angela's Ashes (MMP) : A Memoir", "Angela's Ashes: A Memoir",
       'Angels', 'Angels &amp; Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
       'Animal Dreams', 'Animal Farm',
       'Anne Frank: The Diary of a Young Girl',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'Anne of the Island', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)',
       'Atonement : A Novel',
       'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
       'Back Roads', 'Bag of Bones',
       'Balzac and the Little Chinese Seamstress : A Novel',
       'Bastard Out of Carolina', 'Beach House', 'Beach Music',
       'Before I Say Good-Bye', 'Bel Canto: A Novel', 'Beloved',
       'Beloved (Plume Contemporary Fiction)', 'Betrayal in Death',
       "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)",
       "Big Stone Gap: A Novel (Ballantine Reader's Circle)",
       'Big Trouble', 'Billy Straight : A Novel', 'Birthright',
       'Bittersweet', 'Black House', 'Black Notice', 'Black and Blue',
       'Bleachers', 'Blessings', 'Blood Work', 'Blue Diary',
       'Body of Evidence (Kay Scarpetta Mysteries (Paperback))',
       'Body of Lies', 'Brave New World', 'Breath, Eyes, Memory',
       'Breathing Lessons', 'Bridge to Terabithia',
       'Bridget Jones : The Edge of Reason', "Bridget Jones's Diary",
       'Bridget Jones: The Edge of Reason', 'By the Light of the Moon',
       'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))',
       "CAT'S EYE", 'Call of the Wild', 'Carnal Innocence',
       'Carolina Moon', 'Carrie', 'Cat &amp; Mouse (Alex Cross Novels)',
       'Catering to Nobody', 'Cause of Death', 'Certain Prey',
       "Charlotte's Web (Trophy Newbery)",
       'Chicken Soup for the Soul (Chicken Soup for the Soul)',
       "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))",
       'Chocolat', 'Choke', 'Chosen Prey', 'Christine', 'Chromosome 6',
       'Circle of Friends', 'Clear and Present Danger (Jack Ryan Novels)',
       'Cold Mountain', 'Cold Mountain : A Novel', 'Cold Sassy Tree',
       'Colony', 'Coming Home',
       'Confessions of a Shopaholic (Summer Display Opportunity)',
       'Confessions of an Ugly Stepsister : A Novel', 'Congo', 'Contact',
       'Contagion', 'Coraline', 'Couplehood', 'Cradle and All',
       'Crazy for You',
       'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))',
       'Cry Wolf', 'Cujo',
       'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))',
       'Daddy', "Daddy's Little Girl", 'Daisy Fay and the Miracle Man',
       'Dance upon the Air (Three Sisters Island Trilogy)',
       'Dances With Wolves', 'Dangerous', 'Dark Angel', 'Dark Paradise',
       'Dark Rivers of the Heart', 'Dawn (Cutler)', 'Death du Jour',
       'Debt of Honor (Jack Ryan Novels)', 'Deception Point',
       'Deck the Halls (Holiday Classics)', 'Degree of Guilt',
       'Deja Dead', 'Desperation', 'Different Seasons',
       'Digital Fortress : A Thriller', 'Disclosure',
       'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'Dolores Claiborne', "Don't Stand Too Close to a Naked Man",
       "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)",
       "Dr. Atkins' New Diet Revolution", 'Dragon Tears',
       'Dragonfly in Amber', 'Dreamcatcher', 'Drowning Ruth',
       "Drowning Ruth (Oprah's Book Club)", 'Drums of Autumn',
       "Dude, Where's My Country?", 'Dust to Dust',
       'Dying for Chocolate (Culinary Mysteries (Paperback))',
       'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))',
       'Easy Prey', 'Echoes', 'Ellen Foster', 'Empire Falls',
       "Ender's Game (Ender Wiggins Saga (Paperback))",
       'Engaging The Enemy', 'Envy', 'Evening Class',
       "Everything's Eventual : 14 Dark Tales", 'Exclusive',
       'Executive Orders (Jack Ryan Novels)', 'Eyes of a Child',
       'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))',
       'FORREST GUMP (Movie Tie in)',
       'Face the Fire (Three Sisters Island Trilogy)', 'Fahrenheit 451',
       'Faking It', 'Fall On Your Knees (Oprah #45)', 'Falling Angels',
       'False Memory', 'Family Album',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'Fast Women', 'Fat Tuesday', 'Fatal Cure', 'Fatherhood',
       'Fear Nothing', 'Final Target', 'Fine Things', 'Fingersmith',
       'Five Days in Paris', 'Five Quarters of the Orange',
       'Flesh and Blood',
       'Forever... : A Novel of Good and Evil, Love and Hope',
       "Fortune's Rocks : A Novel", "Fortune's Rocks: A Novel",
       "Foucault's Pendulum", 'Four Blind Mice', 'Four Past Midnight',
       'Four To Score (A Stephanie Plum Novel)',
       'Fried Green Tomatoes at the Whistle Stop Cafe',
       "From Potter's Field", 'From the Corner of His Eye',
       "Full House (Janet Evanovich's Full Series)",
       "Full Tilt (Janet Evanovich's Full Series)",
       'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))',
       'GARDEN OF SHADOWS (Dollanger Saga (Paperback))', "Gerald's Game",
       'Girl in Hyacinth Blue', 'Girl with a Pearl Earring',
       'Girl, Interrupted', 'Good Omens', 'Good in Bed', 'Granny Dan',
       'Guardian Angel',
       'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))',
       'Guilty as Sin',
       'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))',
       'Hannibal',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       "Harry Potter and the Sorcerer's Stone (Book 1)",
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'Harvest', 'Heart of the Sea (Irish Trilogy)', 'Heartbeat',
       'Heartbreaker', 'Hearts In Atlantis', 'Hearts in Atlantis',
       'Heaven and Earth (Three Sisters Island Trilogy)', 'Hemlock Bay',
       'Here on Earth', 'Hide &amp; Seek', 'Hideaway', 'High Fidelity',
       'High Five (A Stephanie Plum Novel)', 'Holes (Yearling Newbery)',
       'Homecoming', 'Homeport', "Hornet's Nest",
       'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       'House of Sand and Fog', 'How Stella Got Her Groove Back',
       'How to Be Good', 'How to Make an American Quilt',
       'I Capture the Castle', 'I Is for Innocent',
       'I Know This Much Is True',
       "I Know This Much Is True (Oprah's Book Club)",
       'I Know Why the Caged Bird Sings', "I'll Be Seeing You",
       'Icebound', 'Icy Sparks', 'If Only It Were True',
       'If Tomorrow Comes', 'In Her Shoes : A Novel',
       'Inner Harbor (Quinn Brothers (Paperback))', 'Insomnia',
       'Intensity', 'Interview with the Vampire',
       'Into Thin Air : A Personal Account of the Mt. Everest Disaster',
       'Into the Wild', 'Invasion', 'Irish Hearts', 'Isle of Dogs', 'It',
       'It Was on Fire When I Lay Down on It', "It's Always Something",
       'J Is for Judgment', 'Jack &amp; Jill (Alex Cross Novels)',
       'Jacob Have I Loved',
       'Jemima J: A Novel About Ugly Ducklings and Swans', 'Jewel',
       "Jewel (Oprah's Book Club)", 'Jewels of the Sun (Irish Trilogy)',
       'Journey', 'Jurassic Park',
       'K Is for Killer (Kinsey Millhone Mysteries (Paperback))',
       'Kaleidoscope', 'Key of Knowledge (Key Trilogy (Paperback))',
       'Key of Light (Key Trilogy (Paperback))',
       'Key of Valor (Roberts, Nora. Key Trilogy, 3.)', 'Killjoy',
       'Kiss the Girls', 'L Is for Lawless', 'Ladder of Years',
       'Lake Wobegon Days',
       "Lamb : The Gospel According to Biff, Christ's Childhood Pal",
       'Last Chance Saloon', 'Last Man Standing',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'Let Me Call You Sweetheart', 'Life of Pi', 'Lightning',
       'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies',
       'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies',
       'Little Altars Everywhere: A Novel', 'Long After Midnight',
       'Lord of the Flies',
       'Love in the Time of Cholera (Penguin Great Books of the 20th Century)',
       'Loves Music, Loves to Dance', 'Lucky : A Memoir',
       'Lucky Man: A Memoir', 'M Is for Malice',
       'Macgregor Brides (Macgregors)', 'Macgregor Grooms (Macgregors)',
       'Master of the Game', 'Matilda', 'Me Talk Pretty One Day',
       'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships',
       'Mercy', 'Message from Nam', 'Message in a Bottle',
       'Middlesex: A Novel', 'Midnight', 'Midnight Bayou',
       'Midnight in the Garden of Good and Evil',
       'Midnight in the Garden of Good and Evil: A Savannah Story',
       'Midwives: A Novel', 'Mind Prey', 'Mirror Image', 'Misery',
       'Miss Julia Speaks Her Mind : A Novel',
       'Monster : A Novel (Alex Delaware Novels (Paperback))',
       'Montana Sky', 'Moo', 'Moonlight Becomes You',
       'Morality for Beautiful Girls (No.1 Ladies Detective Agency)',
       'Mortal Fear', 'Mortal Prey', 'Mother of Pearl', 'Mr. Murder',
       'My Gal Sunday', 'Mystic River', 'N Is for Noose', 'Naked',
       'Needful Things', 'Nerd in Shining Armor', 'Neverwhere',
       'Nickel and Dimed: On (Not) Getting By in America',
       'Nicolae: The Rise of Antichrist (Left Behind No. 3)', 'Night',
       'Night Prey', 'Night Sins', 'Night Whispers',
       'Nightmares &amp; Dreamscapes', 'Nights in Rodanthe',
       'No Greater Love', 'No Safe Place', 'Notes from a Small Island',
       'Nothing Lasts Forever', 'Now You See Her',
       'On the Street Where You Live', 'One Door Away from Heaven',
       'One True Thing', 'One for the Money (A Stephanie Plum Novel)',
       'One for the Money (Stephanie Plum Novels (Paperback))',
       'Oryx and Crake', 'Outlander', 'Over the Edge', 'P Is for Peril',
       'Paradise', 'Patriot Games (Jack Ryan Novels)', 'Pay It Forward',
       'Peace Like a River', 'Pet Sematary', 'Phantoms', 'Pigs in Heaven',
       'Plainsong (Vintage Contemporaries)', 'Pleading Guilty',
       'Plum Island', 'Point of Origin',
       'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times',
       'Pop Goes the Weasel', 'Possession : A Romance', 'Postmortem',
       'Practical Magic', 'Presumed Innocent',
       "Pretend You Don't See Her", 'Pride and Prejudice',
       'Primary Colors: A Novel of Politics', 'Prime Cut',
       'Prodigal Summer', 'Purity in Death', 'Q Is for Quarry',
       'Rainbow Six', 'Range of Motion', 'Rebecca', 'Red Dragon',
       'Red Storm Rising', 'Remember Me', 'Riptide', 'Rising Sun',
       'Rising Tides', "River's End", 'River, Cross My Heart',
       'Rose Madder', 'Roses Are Red (Alex Cross Novels)',
       'Rules of Prey', 'SHIPPING NEWS', 'STONES FROM THE RIVER',
       'Sacred Sins', 'Saint Maybe', 'Sanctuary', 'Saving Faith',
       'Scarlet Feather',
       'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""',
       "Schindler's List", 'Sea Glass: A Novel',
       'Sea Swept (Quinn Brothers (Paperback))', 'Seabiscuit',
       'Seabiscuit: An American Legend', 'Secret History', 'Secrets',
       'Seize the Night', 'Seven Habits Of Highly Effective People',
       'Seven Up (A Stephanie Plum Novel)', 'Shadowfires', 'Shattered',
       "She's Come Undone (Oprah's Book Club (Paperback))",
       "She's Come Undone (Oprah's Book Club)", 'Shell Seekers',
       'Shopaholic Takes Manhattan (Summer Display Opportunity)',
       'Shopaholic Ties the Knot', 'Sick Puppy', 'Silence of the Lambs',
       'Silent Witness', 'Skeleton Crew', 'Skipping Christmas',
       'Slammerkin', 'Sleepers', 'Slow Waltz in Cedar Bend',
       'Small Town Girl', 'Smart Women', "Smilla's Sense of Snow",
       'Snow Falling on Cedars', 'Sole Survivor',
       "Song of Solomon (Oprah's Book Club (Paperback))",
       "Songs in Ordinary Time (Oprah's Book Club (Paperback))",
       "Sophie's World: A Novel About the History of Philosophy",
       'Southern Cross', 'Sphere', 'Standoff',
       'Stanislaski Brothers (Silhouette Promo)', 'Still Waters',
       'Stillwatch', 'Strangers',
       'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
       'Sudden Prey', 'Summer Pleasures', 'Summer Sisters',
       "Suzanne's Diary for Nicholas",
       'Taltos: Lives of the Mayfair Witches', 'Tara Road',
       'Tears of the Giraffe (No.1 Ladies Detective Agency)',
       'Tears of the Moon (Irish Trilogy)', 'Tell Me Lies (Tell Me Lies)',
       'Tell Me Your Dreams', 'Tell No One', 'Temptation',
       'That Camden Summer', 'The Accidental Tourist',
       'The Alchemist: A Fable About Following Your Dream', 'The Alibi',
       'The Alienist', 'The Amber Spyglass (His Dark Materials, Book 3)',
       'The Andromeda Strain', 'The Angel of Darkness',
       'The Bachelor (Warner Books Contemporary Romance)',
       'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
       'The Bad Place', 'The Beach House', 'The Bean Trees',
       'The Blind Assassin', 'The Blue Nowhere : A Novel',
       'The Bluest Eye', 'The Body Farm', "The Bonesetter's Daughter",
       'The Bonfire of the Vanities',
       "The Book of Ruth (Oprah's Book Club (Paperback))",
       'The Bourne Identity', 'The Bourne Supremacy',
       'The Bourne Ultimatum', 'The Boy Next Door', 'The Brethren',
       'The Bridges of Madison County', 'The Burden of Proof',
       'The Cardinal of the Kremlin (Jack Ryan Novels)', 'The Carousel',
       'The Catcher in the Rye',
       'The Celestine Prophecy (Celestine Prophecy)', 'The Chamber',
       'The Cider House Rules',
       "The Clan of the Cave Bear (Earth's Children (Paperback))",
       'The Client', 'The Clinic (Alex Delaware Novels (Paperback))',
       'The Color Purple',
       "The Color of Water: A Black Man's Tribute to His White Mother",
       'The Copper Beech', 'The Cradle Will Fall',
       'The Crimson Petal and the White', 'The Da Vinci Code',
       'The Dark Half', 'The Dead Zone', 'The Deep End of the Ocean',
       'The Devil Wears Prada : A Novel',
       'The Diary of Ellen Rimbauer: My Life at Rose Red',
       'The Divine Secrets of the Ya-Ya Sisterhood: A Novel',
       'The Dogs of Babel (Today Show Book Club #12)',
       'The Door to December',
       'The Drawing of the Three (The Dark Tower, Book 2)', 'The Edge',
       'The Eight', 'The Empty Chair', 'The English Patient',
       'The Eyre Affair: A Novel', 'The Face of Deception',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       'The Firm', 'The First Counsel',
       'The Five People You Meet in Heaven', "The General's Daughter",
       'The Genesis Code', 'The Gift', 'The Girl Who Loved Tom Gordon',
       "The Girls' Guide to Hunting and Fishing",
       'The Giver (21st Century Reference)', 'The Glass Lake',
       'The God of Small Things',
       'The Golden Compass (His Dark Materials, Book 1)',
       'The Great Gatsby', 'The Green Mile', 'The Guardian',
       'The Gunslinger (The Dark Tower, Book 1)', "The Handmaid's Tale",
       "The Hitchhiker's Guide to the Galaxy",
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'The Honk and Holler Opening Soon', 'The Horse Whisperer',
       'The Hot Zone', 'The Hours : A Novel', 'The Hours: A Novel',
       'The House of the Spirits', 'The Hundred Secret Senses',
       'The Hunt for Red October',
       "The Idiot Girls' Action Adventure Club", 'The Jester',
       'The Joy Luck Club',
       'The Killing Game: Only One Can Win...and the Loser Dies',
       'The King of Torts', 'The Kiss', "The Kitchen God's Wife",
       'The Last Precinct', 'The Last Time They Met : A Novel',
       'The Little Friend', 'The Little Prince', 'The Long Road Home',
       'The Loop',
       "The Lost Boy: A Foster Child's Search for the Love of a Family",
       'The Lost World', 'The Lottery Winner : Alvirah And Willy Stories',
       'The Lovely Bones: A Novel', 'The Mists of Avalon',
       'The Most Wanted', 'The Mulberry Tree',
       'The Mummy or Ramses the Damned', 'The Murder Book',
       'The Nanny Diaries: A Novel', 'The Next Accident',
       "The No. 1 Ladies' Detective Agency (Today Show Book Club #8)",
       'The Notebook', 'The Other Boleyn Girl', 'The Partner',
       'The Pelican Brief',
       'The Perfect Storm : A True Story of Men Against the Sea',
       'The Pillars of the Earth', "The Pilot's Wife : A Novel",
       "The Plains of Passage (Earth's Children (Paperback))",
       'The Poisonwood Bible', 'The Poisonwood Bible: A Novel',
       'The Prince of Tides',
       "The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
       'The Promise', 'The Pull of the Moon',
       'The Queen of the Damned (Vampire Chronicles (Paperback))',
       'The Rainmaker', 'The Rapture of Canaan', 'The Reader',
       'The Red Tent (Bestselling Backlist)', 'The Reef',
       'The Regulators',
       'The Reptile Room (A Series of Unfortunate Events, Book 2)',
       'The Rescue', 'The Return Journey',
       'The Return of the King (The Lord of the Rings, Part 3)',
       'The Robber Bride', 'The Runaway Jury', 'The Sands of Time',
       'The Saving Graces: A Novel', 'The Search', 'The Secret Garden',
       'The Secret Life of Bees', 'The Shipping News : A Novel',
       'The Simple Truth', 'The Smoke Jumper', 'The Stone Diaries',
       'The Street Lawyer',
       'The Subtle Knife (His Dark Materials, Book 2)',
       'The Sum of All Fears (Jack Ryan Novels)', 'The Summerhouse',
       'The Summons', 'The Surgeon',
       "The Sweet Potato Queens' Book of Love", 'The Switch',
       'The Tale of the Body Thief (Vampire Chronicles (Paperback))',
       'The Talisman', 'The Tao of Pooh', 'The Temple of My Familiar',
       'The Testament', 'The Thorn Birds', 'The Tommyknockers',
       'The Two Towers (The Lord of the Rings, Part 2)',

In [58]:
pickle.dump(title,open('title.pkl','wb'))